.container {
    background-color: #d2d2d2;
}

.container h1 {
    text-align: center;
    padding: 10px;
}

.col-sm-3 {
    display: flex;
    flex-direction: column;
}

label {
    font-size:15px;
    font-weight: bold;
}

.form-control {
    background-color: #d2d2d2;
    border-bottom: 1px solid black;
}

.form-control:focus{
    box-shadow: 0 0 0 0;
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
    background-color: #d2d2d2;
}

.btn-outline-warning {
    width:100%;
    border-color:black;
    color: black;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.btn-check:checked  ~ .btn-outline-warning {
    border-color:black;
    box-shadow: 0 0 0 0;

}

.btn-check:checked  + .btn-outline-warning {
   background-color: rgb(218, 124, 42);
   color: white;

}

.btn-check:hover + .btn-outline-warning {
    background-color:rgb(218, 124, 42);;
    color: white;
    box-shadow: 0 0 0 0;
}

.buttons {
    display: flex;
    justify-content:left;
}

.buttons button {
    width: 23%;
    height: 50px;
    border-radius:10px;
    margin: 20px 10px
}

.btn-outline-secondary, .btn-secondary{
    color: black;
    font-weight:bold;
} 

.btn-secondary {
    background-color: gray
}

.btn-secondary:hover, .btn-outline-secondary:hover{
    background-color: rgb(218, 124, 42);

}

.btn-secondary:focus, .btn-outline-secondary:focus{
    box-shadow: 0 0 0 0;
}

span {
    color: red;
}